*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(to bottom,#020814,#071b35,#0a2f5b);
    color:white;
    min-height:100vh;
    overflow:hidden;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
}

h1{
    font-size:72px;
    font-weight:bold;
    margin-bottom:15px;
}

.subtitle{
    font-size:28px;
    color:#5cc6ff;
    margin-bottom:40px;
}

.globe{
    width:340px;
    height:340px;
    border-radius:50%;
    cursor:pointer;

    object-fit:cover;

    animation:spin 20s linear infinite;

    background:
        radial-gradient(circle at 30% 30%, #4fc3ff, #1574d6 55%, #04274f 100%);

    border:2px solid rgba(120,220,255,.4);

    box-shadow:
        0 0 25px #00aaff,
        0 0 60px rgba(0,180,255,.5),
        inset -30px -30px 50px rgba(0,0,0,.45),
        inset 25px 25px 35px rgba(255,255,255,.12);

    position:relative;

    overflow:hidden;
}
.globe::before{
    content:"";

    position:absolute;

    width:200%;

    height:100%;

    left:-100%;

    top:0;

    background:
        repeating-linear-gradient(
            90deg,
            rgba(255,255,255,.15) 0px,
            rgba(255,255,255,.15) 2px,
            transparent 2px,
            transparent 22px
        );

    animation:moveTexture 12s linear infinite;
}
.globe:hover{
    transform:scale(1.05);
}

.click{
    margin-top:35px;
    font-size:22px;
    color:#d9ecff;
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}
@keyframes moveTexture{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(50%);
    }

}
body::before{
    content:"";
    position:fixed;
    inset:0;
    background-image:
    radial-gradient(white 1px,transparent 1px),
    radial-gradient(#4cc7ff 1px,transparent 1px);

    background-size:90px 90px,150px 150px;
    opacity:.25;
    animation:stars 35s linear infinite;
    pointer-events:none;
}

@keyframes stars{
    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-120px);
    }
}